<%= turbo_frame_tag "new_session_record" do %>
  <%= form_with(model: [@session_detail, session_record], url: session_detail_session_records_path(@session_detail), class: "mb-4") do |form| %>
    <% if session_record.errors.any? %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% session_record.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card">
      <div class="card-header">
        <h5>New Session</h5>
      </div>
      <div class="card-body">
        <div class="row mb-3 d-flex justify-content-center">
          <div class="col">
            <%= form.label :start_time, "Start Time", class: "form-label fw-bold" %>
            <%= form.datetime_local_field :start_time, value: Time.current.strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
          </div>
          <div class="col">
            <%= form.label :duration, "Duration (minutes)", class: "form-label fw-bold" %>
            <%= form.number_field :duration, value: 45, class: "form-control", min: 1 %>
          </div>
          <div class="col-1 align-self-end">
          <%= form.submit "Add", class: "btn btn-primary btn-sm bi bi-plus mb-1" %>
        </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
