<%= form_with(model: session_detail, local: true) do |form| %>
  <% if @session_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session_detail.errors.count, "error") %> prohibited this session detail from being saved:</h2>
      <ul>
        <% @session_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "form-label fw-bold" %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description, class: "form-label fw-bold" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :targetable_type, class: "form-label fw-bold" %>
    <%= form.select :targetable_type, options_for_select([['Individual', 'School::Participant'], ['Group', 'School::Group']], @session_detail.targetable_type), { include_blank: false }, id: 'targetable-type-select', class: 'form-control', disabled: @session_detail.persisted? %>
  </div>

  <% if @session_detail.targetable_type == 'School::Participant' || @session_detail.targetable_type.nil? %>
    <div class="row mb-3 justify-content-md-left">
      <div class="col">
        <%= form.label :targetable_id, "Participante", class: "form-label fw-bold" %>
        <%= form.select :targetable_id, options_for_select(@participants.map { |participant| [participant.name, participant.id] }, @session_detail.targetable_id), { include_blank: true }, class: "form-select" %>
      </div>
    </div>
  <% end %>

  <% if @session_detail.targetable_type == 'School::Group' %>
    <div class="row mb-3 justify-content-md-left">
      <div class="col">
        <%= form.label :targetable_id, "Group", class: "form-label fw-bold" %>
        <%= form.select :targetable_id, options_for_select(@groups.map { |group| [group.name, group.id] }, @session_detail.targetable_id), { include_blank: true }, class: "form-select" %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-success mt-3 mb-3' %>
  </div>
<% end %>
