<% content_for :title, "Session Details" %>

<div class="d-flex align-items-center">
  <h1>Session Details</h1>
  <%= button_to "", new_session_detail_path, method: :get, class: "btn btn-sm btn-primary bi bi-plus ms-2 fs-4" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Targetable</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @session_details.each do |detail| %>
    <tr>
      <td><%= detail.title %></td>
      <td><%= truncate(detail.description, length: 50) %></td>
      <td>
        <% if detail.targetable.present? %>
          <% case detail.targetable_type %>
            <% when 'School::Participant' %>
              Participant: <%= detail.targetable.name %> (ID: <%= detail.targetable.id %> <%= detail.targetable.name %>)
            <% when 'School::Group' %>
              Group: <%= detail.targetable.name %> (ID: <%= detail.targetable.id %> <%= detail.targetable.name %>)
            <% else %>
              Unknown Targetable Type
          <% end %>
        <% elsif detail.targetable_type.present? %>
          <%= detail.targetable_type.demodulize %>: Not linked
        <% else %>
          None
        <% end %>
      </td>
      <td>
        <div class="d-inline-flex">
          <%= button_to "", edit_session_detail_path(detail), method: :get, class: "btn btn-sm btn-success bi bi-pencil me-1" %>
          <%= button_to "", session_detail_path(detail), method: :get, class: "btn btn-sm btn-warning bi bi-eye me-1" %>
          <%= button_to "", detail, method: :delete, class: "btn btn-sm btn-danger bi bi-trash" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
