<div class="card mt-4">
  <div class="card-body">
    <h4 class="card-title text-sm display-4 fw-bold"><%= @session_detail.title %></h4>

    <p class="card-text"><strong>Description:</strong> <%= @session_detail.description %></p>

    <% if @session_detail.targetable_type.present? %>
      <p class="card-text">
        <strong>Targetable:</strong>
        <%= @session_detail.targetable_type&.demodulize %>
        <% if @session_detail.targetable.present? %>
          - <%= @session_detail.targetable.name %>
        <% else %>
          (No targetable assigned)
        <% end %>
      </p>
    <% end %>

    <div class="d-flex justify-content-end mt-3">
      <%= button_to " Edit", edit_session_detail_path(@session_detail), method: :get, class: "btn btn-primary me-2 bi bi-pencil me-1" %>
      <%= button_to " Delete", @session_detail, method: :delete, class: "btn btn-danger bi bi-trash me-2" %>
      <%= button_to " Back", session_details_path, method: :get, class: "btn btn-dark bi bi-arrow-return-left me-2" %>
    </div>
  </div>
</div>
