<%= form_with(model: participant) do |form| %>
  <% if participant.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h4>

      <ul>
        <% participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 justify-content-md-left">
    <div class="row">
      <div class="col">
        <%= form.label :name, class: "col-form-label fw-bold" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <%= form.label :email, class: "col-form-label fw-bold" %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= form.label :birthday, class: "col-form-label fw-bold" %>
        <%= form.date_field :birthday, class: "form-control" %>
      </div>
    </div>
  </div>

  <div>
   <%= form.submit :Submit, class: "btn btn-success mt-3 mb-3" %>
  </div>
<% end %>
