<% unless notice.blank? %>
  <div class="alert alert-success mt-3" role="alert">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "participants" %>

<div class="d-flex align-items-center ">
  <h1>Participants</h1>
  <%= button_to "", new_participant_path, method: :get, class: "btn btn-sm btn-primary bi bi-plus ms-2 fs-4" %>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Birthday</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>

    <% @participants.each do |participant| %>
      <tr>
        
        <td><%= participant.name %></td>
        <td><%= participant.email %></td>
        <td><%= participant.birthday ? participant.birthday.strftime("%d/%m/%Y") : "Date no Available" %></td>
      
        <td>
          <div class="d-inline-flex">
            <%= button_to "", edit_participant_path(participant), method: :get, class: "btn btn-sm btn-success bi bi-pencil me-1" %>
            <%= button_to "", participant_path(participant), method: :get, class: "btn btn-sm btn-warning bi bi-eye me-1" %>
            <%= button_to "", participant, method: :delete, class: "btn btn-sm btn-danger bi bi-trash" %>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
