<div id="<%= dom_id facilitator %>">
  <p>
    <strong>Name:</strong>
    <%= facilitator.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= facilitator.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= facilitator.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= facilitator.birthday %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= facilitator.address %>
  </p>

</div>
