<% content_for :title, "Edit Group" %>

<div class="d-flex align-items-center">
  <h1>Edit Group</h1>
  <%= button_to "", @group, method: :delete, class: "btn btn-sm btn-danger bi bi-trash ms-3" %>
  <%= link_to "Back", groups_path, class: "btn btn-sm btn-dark ms-auto" %>
</div>

<%= render "form", group: @group %>

<turbo-frame id="add_remove_participant">
  <div class="row mb-3 justify-content-md-left mt-2">
    <div class="col">
      <%= form_with(url: add_participant_group_path(@group), method: :post, local: false) do |f| %>
        <%= f.label :participant_id, "Add Participant", class: "col-form-label fw-bold" %>
        <%= f.select :participant_id, @participants.map { |participant| [participant.name, participant.id] }, {}, class: "form-select" %>
        <%= f.submit "Add Participant", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>

  <%= render "participants", participants: @group.participants, group: @group %>
</turbo-frame>

