<%= turbo_frame_tag "new_participant", target: "_top" do %>

  <%= form_with(model: [@group, @participant], url: add_participant_group_path(@group), method: :post) do |form| %>

    <% if @participant.errors.any? %>
      <div style="color: red">
        <h4><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h4>
        <ul>
          <% @participant.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col">
        <div class="row d-flex justify-content-center">
          <!-- Seleccionar participante existente -->
          <div class="col-3">
            <%= form.label :existing_participant, "Select Existing Participant", class: "col-form-label fw-bold" %>
            <%= form.select :existing_participant, @group.participants.pluck(:name, :id), { include_blank: "Select Participant" }, class: "form-select" %>
          </div>

          <!-- Crear nuevo participante -->
          <div class="col-3">
            <%= form.label :name, "Name", class: "col-form-label fw-bold" %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="col-3">
            <%= form.label :email, "Email", class: "col-form-label fw-bold" %>
            <%= form.email_field :email, class: "form-control" %>
          </div>
          <div class="col-3">
            <%= form.label :birthday, "Birthday", class: "col-form-label fw-bold" %>
            <%= form.date_field :birthday, class: "form-control" %>
          </div>

          <div class="col-3 align-self-end">
            <%= form.submit "Add Participant", class: "btn btn-primary btn-sm bi bi-plus mb-1" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
